############################
# IntelliJ IDEA
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log

############################
# Environment Files
############################
.env

############################
# Spring Boot (Backend)
############################
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

############################
# Angular (Frontend)
############################
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

############################
# Build Output
############################
out/
build/

############################
# Java
############################
*.class

############################
# Eclipse
############################
.project
.classpath
.settings/

############################
# NetBeans
############################
nbproject/private/